body{
  background-color:#4D8B7B;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size:10px;
  min-height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0;}

input{
  border: 1px solid #dcdcdc;
  height:20px;
  border-radius:10px;
  outline: none;
  box-shadow: none;}

.top{
  position:absolute;
  top:0px;
  color:white;
  font-size:36px;}

.det{
  background-color:#FFFFFF;
  display:flex;
  align-items:flex-end;
  width:100%;
  height:50px;}




