body{
  background-color:#4D8B7B;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  min-height: 100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  margin: 0;}

input{
  border: 1px solid #dcdcdc;
  height:20px;
  border-radius:10px;
  outline: none;
  box-shadow: none;}

.top{
  position:absolute;
  top:0px;
  color:white;
  font-size:36px;}

.det{
  background-color:#FFFFFF;
  display:flex;
  align-items:flex-start;
  width:60%;
  height:60vh;
  min-height:100%;
  border-radius:20px;}

.log{
  font-size:10px;
  gap:10px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;}

button{
  width:100px;
  background-color:#4D8B7B;
  fo





